@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&display=swap');

body{
    margin: 0px;
    background-color:#252525;
}

.navbar{ 
    background-color:#252525;
    color: white;
    justify-content: space-between;
    margin: auto 30px; /*Ficou zuado*/
    font-family: 'Montserrat', sans-serif;
    
}


#inicio{
    color: white;
    background-image: url("Imagens/Imagem\ de\ fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /*Deixa a foto esticada na sessão toda */
    height: 500px;
    width: 100%;
}

li{
    margin: 0 10px;
}

#sobre{ /*Aqui vai editar o Sobre mim */ 
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

#servico-menu{
    background-color: #252525;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#portfolio-menu {
    background-color: teal;
    font-family: 'Montserrat', sans-serif;
}

#contato-menu{
    background-color: teal;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#rodape{
    background-color: black;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

#cores{
    color: white;
  
}
#jonathas{
    text-align:left;
    margin-left: 100px;
    font-size: 70px;
    padding-top: 70px;
    font-family: 'Montserrat', sans-serif;
    
}

#nomeJonathas{ /* Parte sobre Jonathas*/
    text-align: left;
    margin-left: 100px;
    /*font-family: 'montserrat', sans-serif;*/    
    font-size: 80px;
    
}

#tituloport{
    color: white;   
}

#topoBtn{    
    bottom: 50px;
    border-radius: 30px;
    right: 50px;
    color: #333;
    background:linear-gradient(to bottom, #ffffff 5%, #008080 100%);
    border-color:#008080;
    box-shadow:inset 0px 1px 0px 0px #fdf7f0;
    text-shadow:0px 1px 0px #000000
  }

#topoBtn:hover {
    background:linear-gradient(to bottom, #008080 5%, #ffffff 100%);
    transform: scale(1.1); /*Para o botão crescer*/
    transition: all 0.5s; /*duração da transcição do botão*/
}

#linhaDoTempo{
    background-color: #000000;
}

#txtLinhaDoTempo{
    color: #ffffff;
}

#FotoSite1:hover{
    position: relative;
    top:-5px;
    box-shadow:0 2px 2px #252525
}

#TituloPortfolio{
    color: #ffffff;
}

#txtDoPortfolio{
    color: #ffffff;
}

#txtDoPortfolio:hover{
    position: relative;
    top:-5px;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: azure;
}

/*Imagem do Perfil*/

#imagemPerfil{
    width:  400px;
    height: 400px;
    margin-right: 100px;
    margin-left: 110px;
    float: left;   
}